.menu-item {
  &:hover {
    background-color: #acb0ae;
     a {
       color: white !important;

       i {
         color: black !important;
       }
     }
  }

  &.active-link {
    background-color: #8c4fc9;

    a {
      color: white !important;
      font-weight: bold;

      i {
        color: black !important;
      }
    }

  }
}